@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #4a79df;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #2563eb;
  }
  ::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 5px;
  }